.login {
    margin: 150px 0 0 0;
    .login_form_container {
        width: 40%;
        margin: 0 auto;
        background-color: #F5F6F6;
        box-shadow: 0 4px 4px 4px lightgrey;
        padding: 25px;
        form {
            .form_headline {
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                margin: 0 0 20px 0;
            }
            input {
                width: 100%;
                margin: 0 0 12px 0;
                height: 45px;
                border-radius: 0;
                border: 1px solid #CCC;
                padding: 0 12px;
            }
            .login_button {
                background-color: #F4A950 !important;
                border: none;
                outline: none !important;
                padding: 8px 30px;
                color: #FFF;
                font-size: 18px;
                font-weight: 600;
                display: block;
                border-radius: 0;
                margin: 10px 0 0 0;
                text-transform: uppercase;
            }
            .error_message {
                margin: 0;
                background-color: #efb8b8;
                color: #d23d3d;
                padding: 10px;
                border: 1px solid #d23d3d;
            }
            .success_message {
                margin: 0;
                background-color: #a0c18d;
                color: #FFF;
                padding: 10px;
                border: 1px solid #2dd526;
                font-weight: 600;
            }
        }
    }
}