.search_page {
  .search_box_wrapper {
    background-color: lightyellow;
    padding: 60px 0;
    text-align: center;
    input {
      height: 55px;
      width: 60%;
      padding: 0 16px;
      background-color: #F5F6F6;
    }
  }
  .suggestions_wrapper {
    background-color: #F1F1F1;
    position: absolute;
    width: 60%;
    left: 20%;
    padding: 0 20px;
    ul {
      padding: 0;
      margin: 0;
    }
  }
}